body {
    font-family: "Arial Black", Gadget, sans-serif	;    
}

.space{
    height: 200px
}

.previewComponent{
    float:right
}

.App-logo {
    animation: App-logo-spin infinite 5s linear;
    height: 70px;
  }

.instructions h1 {
    font-size: 24px;
    font-weight: 700;
    text-align: center
}

jpg
{
  width: 100%;
  z-index: 0;
}


.instructions {
    padding: 5px;
    color: #ece7e7;
    margin: 30px;
}

form {
    width: 30%;
    height: 250px;
    margin: 20px auto;
    padding: 25px;
    border-radius: 2px;
    background: 'rgba(255,255,255,0.5)'
}

input {
    margin: 5px;
    margin-bottom: 10px;
}

input[type="submit"] {
    margin: 10px;
    background: 'rgba(255,255,255,0.5)'
}


.message {
    padding: 10px 0;
}

.message p {
    margin-left: 10px;
}

.message:nth-child(odd) {
     background-color: #eeeeee;
}

.message:nth-child(even) {
    background-color: #f8f8f8;
}


.navbar {
  background-color: #2196f3;
  width: 100%;
  border-radius: 0px;
}

ul {
    /* list-style-type: none; */
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: 'rgba(255,255,255,0.5)'
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}
@keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }
  
/* Change the link color to #111 (black) on hover */
li a:hover {
    text-decoration: underline;
    color: #eee;
}
a{
    color: lightskyblue
}
html{
    font-size: 80%;
    background-color: #050505;  
}

img {
    color: lightblue,
}

h1{
    font-size: 36px;
}

h3{
  margin-left: 15px
}
